.client-registration-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  background: url('/public/img/client-info-img.jpg') no-repeat center / cover;
  position: relative;
}

.registration-section-container {
  width: 1400px;
  margin: 0 auto;
}

.form-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.registration-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: auto;
}

@media (max-width: 1440px) {
  .registration-section-container {
    width: 100%;
    padding: 0 20px;
  }
}