@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,500,500italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Yrsa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Устанавливаем, чтобы футер всегда оставался внизу страницы */
html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  width: 100%;
  flex: 1;
  /* Главный контейнер, чтобы занять всё пространство */
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  background-color: #09B3B0;
  margin-top: auto;
  /* Позволяет футеру переместиться вниз */
  padding: 20px 0;
  /* Добавляет немного отступа сверху и снизу */
}